openapi: 3.1.0

info:
  title: Azisaba Graph API
  version: 0.0.1
  license:
    name: MIT License
    identifier: MIT

servers:
  - url: "https://graph.azisaba.net"

security:
  - ApiKeyAuth: []

tags:
  - name: api-keys
    description: Operations related to API keys.
  - name: patch-notes
    description: Operations related to patch notes.
  - name: players
    description: Operations related to players.

paths:
  /api-keys:
    $ref: "./paths/api-keys/api-keys.yaml"
  /api-keys/{apiKeyId}:
    $ref: "./paths/api-keys/api-keys-by-id.yaml"
  /patch-notes:
    $ref: "./paths/patch-notes/patch-notes.yaml"
  /patch-notes/{patchNoteId}:
    $ref: "./paths/patch-notes/patch-notes-by-id.yaml"
  /players:
    $ref: "./paths/players/players.yaml"
  /players/{playerId}:
    $ref: "./paths/players/players-by-id.yaml"

components:
  parameters:
    ApiKeyId:
      $ref: "./components/parameters/api-key-id.yaml"
    PatchNoteId:
      $ref: "./components/parameters/patch-note-id.yaml"
    PlayerId:
      $ref: "./components/parameters/player-id.yaml"

  responses:
    Unauthorized:
      $ref: "./components/responses/unauthorized.yaml"
    Forbidden:
      $ref: "./components/responses/forbidden.yaml"

  schemas:
    ApiKey:
      $ref: "./components/schemas/api-key.yaml"
    ApiKeyScope:
      $ref: "./components/schemas/api-key-scope.yaml"
    CreateApiKeyRequest:
      $ref: "./components/schemas/create-api-key-request.yaml"
    CreateApiKeyResponse:
      $ref: "./components/schemas/create-api-key-response.yaml"
    CreatePatchNoteRequest:
      $ref: "./components/schemas/create-patch-note-request.yaml"
    ListApiKeysResponse:
      $ref: "./components/schemas/list-api-key-response.yaml"
    ListPatchNotesResponse:
      $ref: "./components/schemas/list-patch-notes-response.yaml"
    ListPlayersResponse:
      $ref: "./components/schemas/list-players-response.yaml"
    PatchNote:
      $ref: "./components/schemas/patch-note.yaml"
    PatchNoteCategory:
      $ref: "./components/schemas/patch-note-category.yaml"
    PatchNoteId:
      $ref: "./components/schemas/patch-note-id.yaml"
    PatchNoteTarget:
      $ref: "./components/schemas/patch-note-target.yaml"
    Player:
      $ref: "./components/schemas/player.yaml"
    PlayerId:
      $ref: "./components/schemas/player-id.yaml"
    PlayerStatus:
      $ref: "./components/schemas/player-status.yaml"
    UpdatePlayerRequest:
      $ref: "./components/schemas/update-player-request.yaml"

  securitySchemes:
    ApiKeyAuth:
      $ref: "./components/security-schemes/api-key-auth.yaml"
