openapi: 3.1.0

info:
  title: Azisaba Graph API
  description: An API for connecting and sharing data across the Azisaba Network.
  version: 0.0.1
  license:
    name: MIT
    identifier: MIT

servers:
  - url: "https://graph.azisaba.net"

security:
  - apiKeyAuth: [ ]

tags:
  - name: api-keys
    description: Operations related to API keys.
  - name: crawls
    description: Operations related to crawls.
  - name: patch-notes
    description: Operations related to patch notes.
  - name: players
    description: Operations related to players.
  - name: punishments
    description: Operations related to punishment records and proofs.
  - name: stream
    description: Operations related to stream events.

paths:
  /api-keys:
    $ref: "./paths/api-keys/api-keys.yaml"
  /api-keys/{apiKeyId}:
    $ref: "./paths/api-keys/api-keys-by-id.yaml"
  /crawls:
    $ref: "./paths/crawls/crawls.yaml"
  /crawls/{crawlId}:
    $ref: "./paths/crawls/crawls-by-id.yaml"
  /patch-notes:
    $ref: "./paths/patch-notes/patch-notes.yaml"
  /patch-notes/{patchNoteId}:
    $ref: "./paths/patch-notes/patch-notes-by-id.yaml"
  /players:
    $ref: "./paths/players/players.yaml"
  /players/{playerId}:
    $ref: "./paths/players/players-by-id.yaml"
  /players/{playerId}/friend-requests:
    $ref: "./paths/players/players-by-id-friend-requests.yaml"
  /players/{playerId}/friend-requests/{senderId}:
    $ref: "./paths/players/players-by-id-friend-requests-by-id.yaml"
  /players/{playerId}/friend-requests/{senderId}/accept:
    $ref: "./paths/players/players-by-id-friend-requests-by-id-accept.yaml"
  /players/{playerId}/friend-requests/{senderId}/reject:
    $ref: "./paths/players/players-by-id-friend-requests-by-id-reject.yaml"
  /players/{playerId}/friends:
    $ref: "./paths/players/players-by-id-friends.yaml"
  /players/{playerId}/friends/{friendId}:
    $ref: "./paths/players/players-by-id-friends-by-id.yaml"
  /punishments:
    $ref: "./paths/punishments/punishments.yaml"
  /punishments/{punishmentId}:
    $ref: "./paths/punishments/punishments-by-id.yaml"
  /punishments/{punishmentId}/proofs:
    $ref: "./paths/punishments/punishment-proofs.yaml"
  /punishments/{punishmentId}/proofs/{proofId}:
    $ref: "./paths/punishments/punishment-proofs-by-id.yaml"
  /stream:
    $ref: "./paths/stream/stream.yaml"

components:
  parameters:
    ApiKeyId:
      $ref: "./components/parameters/api-key-id.yaml"
    CrawlId:
      $ref: "./components/parameters/crawl-id.yaml"
    PatchNoteId:
      $ref: "./components/parameters/patch-note-id.yaml"
    PlayerFriendId:
      $ref: "./components/parameters/player-friend-id.yaml"
    PlayerFriendRequestSenderId:
      $ref: "./components/parameters/player-friend-request-sender-id.yaml"
    PlayerId:
      $ref: "./components/parameters/player-id.yaml"
    ProofId:
      $ref: "./components/parameters/proof-id.yaml"
    PunishmentId:
      $ref: "./components/parameters/punishment-id.yaml"

  responses:
    BadRequest:
      $ref: "./components/responses/bad-request.yaml"
    Forbidden:
      $ref: "./components/responses/forbidden.yaml"
    Unauthorized:
      $ref: "./components/responses/unauthorized.yaml"

  schemas:
    ApiKey:
      $ref: "./components/schemas/api-key.yaml"
    ApiKeyId:
      $ref: "./components/schemas/api-key-id.yaml"
    ApiKeyScope:
      $ref: "./components/schemas/api-key-scope.yaml"
    Crawl:
      $ref: "./components/schemas/crawl.yaml"
    CrawlCreatedEvent:
      $ref: "./components/schemas/crawl-created-event.yaml"
    CrawlDeletedEvent:
      $ref: "./components/schemas/crawl-deleted-event.yaml"
    CrawlId:
      $ref: "./components/schemas/crawl-id.yaml"
    FriendAddedEvent:
      $ref: "./components/schemas/friend-added-event.yaml"
    FriendRemovedEvent:
      $ref: "./components/schemas/friend-removed-event.yaml"
    FriendRequestAcceptedEvent:
      $ref: "./components/schemas/friend-request-accepted-event.yaml"
    FriendRequestAddedEvent:
      $ref: "./components/schemas/friend-request-added-event.yaml"
    FriendRequestRejectedEvent:
      $ref: "./components/schemas/friend-request-rejected-event.yaml"
    FriendRequestRemovedEvent:
      $ref: "./components/schemas/friend-request-removed-event.yaml"
    PatchNote:
      $ref: "./components/schemas/patch-note.yaml"
    PatchNoteCategory:
      $ref: "./components/schemas/patch-note-category.yaml"
    PatchNoteCreatedEvent:
      $ref: "./components/schemas/patch-note-created-event.yaml"
    PatchNoteDeletedEvent:
      $ref: "./components/schemas/patch-note-deleted-event.yaml"
    PatchNoteId:
      $ref: "./components/schemas/patch-note-id.yaml"
    PatchNoteTarget:
      $ref: "./components/schemas/patch-note-target.yaml"
    Player:
      $ref: "./components/schemas/player.yaml"
    PlayerId:
      $ref: "./components/schemas/player-id.yaml"
    PlayerStatus:
      $ref: "./components/schemas/player-status.yaml"
    Proof:
      $ref: "./components/schemas/proof.yaml"
    ProofId:
      $ref: "./components/schemas/proof-id.yaml"
    Punishment:
      $ref: "./components/schemas/punishment.yaml"
    PunishmentCreatedEvent:
      $ref: "./components/schemas/punishment-created-event.yaml"
    PunishmentId:
      $ref: "./components/schemas/punishment-id.yaml"
    PunishmentProofCreatedEvent:
      $ref: "./components/schemas/punishment-proof-created-event.yaml"
    PunishmentProofDeletedEvent:
      $ref: "./components/schemas/punishment-proof-deleted-event.yaml"
    PunishmentProofUpdatedEvent:
      $ref: "./components/schemas/punishment-proof-updated-event.yaml"
    PunishmentRevokedEvent:
      $ref: "./components/schemas/punishment-revoked-event.yaml"
    PunishmentType:
      $ref: "./components/schemas/punishment-type.yaml"
    PunishmentUpdatedEvent:
      $ref: "./components/schemas/punishment-updated-event.yaml"
    Revocation:
      $ref: "./components/schemas/revocation.yaml"
    StreamEvent:
      $ref: "./components/schemas/stream-event.yaml"

  securitySchemes:
    apiKeyAuth:
      $ref: "./components/security-schemes/api-key-auth.yaml"
